<div class="flex items-center gap-3 w-full <%= typeof dividerClass !== 'undefined' ? dividerClass : '' %>">
  <span class="flex-1 h-px bg-gold"></span>
  <svg class="w-5 h-5 text-berry shrink-0"><use href="#icon-flower"></use></svg>
  <span class="flex-1 h-px bg-gold"></span>
</div>
